# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
.mp4

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
TEP_convNN_92/
outpy.avi
TEP_convNN_96/
TEP_convNN_BW/
Pictures/macro
Pictures/Videos/

.gitignore
Pictures/cam2/failed_capture_0.png
Pictures/cam2/failed_capture_1.png
Pictures/cam2/failed_capture_2.png
Pictures/cam2/failed_capture_9.png
Pictures/cam2/failed_capture_11.png
Pictures/cam2/failed_capture_12.png
Pictures/cam2/failed_capture_13.png
Pictures/cam2/failed_capture_16.png
Pictures/cam2/failed_capture_19.png
Pictures/cam2/failed_capture_20.png
Pictures/cam2/failed_capture_21.png
Pictures/cam2/failed_capture_25.png
Pictures/cam2/failed_capture_37.png
Pictures/cam2/failed_capture_43.png
Pictures/cam2/failed_capture_55.png
Pictures/cam2/successful_capture_3.png
Pictures/cam2/successful_capture_4.png
Pictures/cam2/successful_capture_5.png
Pictures/cam2/successful_capture_6.png
Pictures/cam2/successful_capture_7.png
Pictures/cam2/successful_capture_8.png
Pictures/cam2/successful_capture_10.png
Pictures/cam2/successful_capture_14.png
Pictures/cam2/successful_capture_15.png
Pictures/cam2/successful_capture_17.png
Pictures/cam2/successful_capture_18.png
Pictures/cam2/successful_capture_22.png
Pictures/cam2/successful_capture_23.png
Pictures/cam2/successful_capture_24.png
Pictures/cam2/successful_capture_26.png
Pictures/cam2/successful_capture_27.png
Pictures/cam2/successful_capture_28.png
Pictures/cam2/successful_capture_29.png
Pictures/cam2/successful_capture_30.png
Pictures/cam2/successful_capture_31.png
Pictures/cam2/successful_capture_32.png
Pictures/cam2/successful_capture_33.png
Pictures/cam2/successful_capture_34.png
Pictures/cam2/successful_capture_35.png
Pictures/cam2/successful_capture_36.png
Pictures/cam2/successful_capture_38.png
Pictures/cam2/successful_capture_39.png
Pictures/cam2/successful_capture_40.png
Pictures/cam2/successful_capture_41.png
Pictures/cam2/successful_capture_42.png
Pictures/cam2/successful_capture_44.png
Pictures/cam2/successful_capture_45.png
Pictures/cam2/successful_capture_46.png
Pictures/cam2/successful_capture_47.png
Pictures/cam2/successful_capture_48.png
Pictures/cam2/successful_capture_49.png
Pictures/cam2/successful_capture_50.png
Pictures/cam2/successful_capture_51.png
Pictures/cam2/successful_capture_52.png
Pictures/cam2/successful_capture_53.png
Pictures/cam2/successful_capture_54.png
Pictures/cam2/successful_capture_56.png
Pictures/cam2/successful_capture_57.png
Pictures/cam2/successful_capture_58.png
Pictures/cam2/successful_capture_59.png
Pictures/cam2/successful_capture_60.png
Pictures/cam2/successful_capture_61.png
Pictures/cam2/successful_capture_62.png
Pictures/cam2/successful_capture_63.png
Pictures/cam2/successful_capture_64.png
Pictures/cam2/successful_capture_65.png
Pictures/cam2/successful_capture_66.png
Pictures/cam2/successful_capture_67.png
Pictures/cam2/successful_capture_68.png
Pictures/cam2/successful_capture_69.png
Pictures/cam2/successful_capture_70.png
Pictures/cam2/successful_capture_71.png
